.track-list{flex:1;}
.track-list:hover{background-color:#302C35; transition: background-color 1s ease; }
.tracks{text-align: left; padding: 5vh 10vw;}
.track{padding: 3px 0; border-bottom:0.2rem solid #302C35; }
.track:hover,.track .btn:hover{color: #FF002E;}
.empty-message{margin: 3vh 3vw;}
/* .track-list:hover .empty-message{display: block;}
.track-list:hover .tracks{display: none;} */